@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main{
 width: 100%;
 height: auto;
 background: #ffffff;
}
.newsubh,.mainh{
 font-size: 2vw;
 color: whitesmoke;
}
button{
  padding: 10px 40px;
  border: none;
  background: rgb(255, 89, 0);
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
.new{
  color: red;
}